@using System.Security.Claims
@using OpenWebBlazor.ViewModels
@inject OpenWebBlazor.Services.MenuService MenuService
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OpenWeb For Blazor</a>
    </div>
</div>
<div class="nav-scrollable">
    <Menu Mode="MenuMode.Inline" Accordion="true">
        @if (webMenuTrees != null)
        {
            @foreach (var item in webMenuTrees)
            {
                <SubMenu Key="@item.Id.ToString()" Title="@item.Name">
                    @foreach (var child in item.Items)
                    {
                        <MenuItem Key="@child.Id.ToString()" RouterLink="@child.Path">
                            @child.Name
                        </MenuItem>
                    }
                </SubMenu>
            }
        }
    </Menu>
</div>

@code {
    private List<WebMenuTree> webMenuTrees { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var user_id = 0;
        int.TryParse(user.FindFirstValue("Id"), out user_id);
        if (user_id != 0)
        {
            webMenuTrees = await MenuService.GetMenuTreeAsync(user_id);
        }
        await base.OnInitializedAsync();
    }
}