@page "/Menu/List"

@using AntDesign.TableModels
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Mvc.Rendering
@using OpenWebBlazor.Models
@using OpenWebBlazor.ViewModels

<PageHeader Title="菜单管理" Subtitle="菜单列表" Style="padding:0 24px 24px 0;"></PageHeader>

<Content Style=" padding: 0 24px 24px 0px;">
    <Row>
        <GridCol Span="24">
            <Button Type="ButtonType.Primary" @onclick="()=> Edit(null)">新建</Button>
        </GridCol>
    </Row>
</Content>

<Table @ref="_table" DataSource="_dataSource" TreeChildren="item=>item.Items" @bind-SelectedRows="_selectedRows">
    <Selection />
    <PropertyColumn Property="c=>c.Name" />
    <PropertyColumn Property="c=>c.Path" Width="12%" Sortable />
    <PropertyColumn Property="c=>c.Sort" Width="30%" />
    <ActionColumn Title="操作">
        <a @onclick="() => Edit(context)">编辑</a>
        <a @onclick="() => Delete(context)">删除</a>
    </ActionColumn>
</Table>

@inject MessageService MessageService;
@inject ModalService ModalService;
@inject ConfirmService ComfirmService;

@inject OpenWebBlazor.Services.MenuService MenuService;

@code {
    IEnumerable<WebMenuTree> _selectedRows = [];
    ITable _table;
    List<WebMenuTree> _dataSource;
    List<MenuSelectItem> _selectMenus;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LoadData();
    }
    async Task LoadData()
    {
        _selectMenus = await MenuService.GetMenuSelectListAsync();
        _dataSource = await MenuService.GetMenuTreeAsync();
        _table.ReloadData();
    }

    void Edit(WebMenuTree? row)
    {
        var data = row == null ? new WebMenus() : new WebMenus()
                {
                    Id = row.Id,
                    Name = row.Name,
                    ParentId = row.ParentId,
                    Path = row.Path,
                    Sort = row.Sort
                };
        ModalRef<bool> modalRef = default;
        IForm form = default;
        modalRef = ModalService.CreateModal<bool>(new()
                {
                    Title = data.Id > 0 ? "编辑" : "新建",
                    Content = @<Form @ref="form" Model="data" OnFinish="()=> modalRef.OkAsync(true)" LabelColSpan="6" WrapperColSpan="18">
        <FormItem Label="上级菜单">
            <Select DataSource="@_selectMenus" @bind-Value="@data.ParentId" ValueName="@nameof(MenuSelectItem.Id)" LabelName="@nameof(MenuSelectItem.Name)"></Select>
        </FormItem>
        <FormItem>
            <Input @bind-Value="@data.Name"></Input>
        </FormItem>
        <FormItem>
            <Input @bind-Value="@data.Path"></Input>
        </FormItem>
        <FormItem>
            <Input @bind-Value="@data.Sort" Type="InputType.Number"></Input>
        </FormItem>
    </Form>
    ,
            OnOk = async (e) =>
            {
                if (!form.Validate())
                {
                    return;
                }

                modalRef.SetConfirmLoading(true);

                var result = await MenuService.EditMenu(data);
                if (result.Success)
                {
                    await modalRef.CloseAsync();

                    MessageService.Success("操作成功");

                    await LoadData();
                }
                else
                {
                    MessageService.Error(result.Message);
                }
                StateHasChanged();
            },
            OnCancel = async (e) =>
            {
                if (form.IsModified && (!await Comfirm("内容已经修改过，确定放弃保存吗？")))
                {
                    return;
                }
                await modalRef.CloseAsync();
            }
        });
    }

    async Task Delete(WebMenuTree row)
    {
        if (!await Comfirm($"确定删除【{row.Name}】吗？"))
            return;

        var result = await MenuService.DeleteMenu(row.Id);
        if (result.Success)
        {
            MessageService.Success("操作成功");

            await LoadData();
        }
        else
        {
            MessageService.Error(result.Message);
        }
        _table.ReloadData();
    }

    private async Task<bool> Comfirm(string message)
    {
        return await ComfirmService.Show(message, "确认操作", ConfirmButtons.YesNo, ConfirmIcon.Warning) == ConfirmResult.Yes;
    }
}